.swiper{
	height: 100vh;
	position: relative;

		img{
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		.sliderText{
			z-index: 999999;
			position: absolute;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-around;
			top: 20%;
			left: 16%;
			height: 300px;
			width: 40%;

			p:nth-child(1){
				font-size: 50px;
				color: #61C1C5;
				font-family: "Indie Flower", cursive;

			}

			p:nth-child(2){
				font-size: 72px;
				font-family: "Indie Flower", cursive;
				color:#631535 ;
			}
			
			p:nth-child(3){
				font-size: 24px;
			}

		}
	
		
	
}